@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, Library>

@page "/libraries"

<PageView ClassName="flex">

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="Library" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick" TableIdentifier="Libraries">
            <ToolBar>            
                <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableButtonSeparator />            
                <FlowTableButton Clicked=Rescan SelectedOneOrMore=true Icon="fas fa-search-plus" Label="Labels.Rescan" />
                @if (App.Instance.FileFlowsSystem.LicenseRevisions)
                {
                    <FlowTableButton Clicked=Revisions SelectedOne="true" Icon="fas fa-history" Label="Labels.Revisions" />
                }
                <FlowTableButton Clicked=Reprocess SelectedOneOrMore=true Area="ButtonArea.ContextMenu" Icon="fas fa-running" Label="Labels.Reprocess" />
                <FlowTableButtonSeparator />
                <FlowTableHelpButton  HelpUrl="libraries" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="Library" NoHeight="true">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <div class="name-col">
                            <i class="status-icon @GetPriorityIcon(item)"></i>
                            <span class="name">@item.Name</span>
                            <span class="page">@item.Path</span>
                        </div>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="14rem" MobileWidth="0">
                    <Header>
                        @lblFlow
                    </Header>
                    <Cell Context="item">
                        <span>@item.Flow?.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="12rem" MobileWidth="0">
                    <Header>
                        @lblLastScanned
                    </Header>
                    <Cell Context="item">
                        <span>@TimeSpanToString(item)</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="6rem" MobileWidth="4rem">
                    <Header>
                        @Globals.lblEnabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="16rem" MobileWidth="0">
                    <Header>
                        @lblSavings
                    </Header>
                    <Cell Context="item">
                        @if(GetStorageSaved(item.Name, out StorageSavedData saved) && saved.OriginalSize > 0)
                        {
                            <FlowSavings FinalSize="saved.FinalSize" OriginalSize="saved.OriginalSize" />
                        }
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>

@if(Loaded && HasData == false)
{
    <div class="pointer-add">Add</div>
}
