@namespace FileFlows.Client.Components


@if (Visible)
{
    <div class="audit-history-wrapper">
        <div class="background-overlay"></div>
        <div class="audit-history @(Maximised ? "maximised" : "")">

            <ViContainer Title="@Title" AlwaysShowTitle=@true Maximise=true OnMaximised=@OnMaximised>

                <Head>
                    <button @onclick=@Close>@lblClose</button>
                </Head>

                <Body>
                <FlowTable @ref=Table TItem="AuditEntry" Selection="SelectionMode.None" Data=@Data TableIdentifier="AuditHistory">
                    <Columns>
                        <FlowTableColumn TItem="AuditEntry" Width="14rem">
                            <Header>
                                Date
                            </Header>
                            <Cell Context="item">
                                <span>@item.LogDate.ToLocalTime()</span>
                            </Cell>
                        </FlowTableColumn>
                        <FlowTableColumn TItem="AuditEntry" Width="12rem">
                            <Header>
                                Action
                            </Header>
                            <Cell Context="item">
                                <span>@item.Action</span>
                            </Cell>
                        </FlowTableColumn>
                        <FlowTableColumn TItem="AuditEntry" Width="12rem">
                            <Header>
                                Operator
                            </Header>
                            <Cell Context="item">
                                <span>@item.OperatorName</span>
                            </Cell>
                        </FlowTableColumn>
                        <FlowTableColumn TItem="AuditEntry" Width="12rem">
                            <Header>
                                IP Address
                            </Header>
                            <Cell Context="item">
                                <span>@item.IPAddress</span>
                            </Cell>
                        </FlowTableColumn>
                        <FlowTableColumn TItem="AuditEntry">
                            <Header>
                                Summary
                            </Header>
                            <Cell Context="item">
                                <span>@item.Summary</span>
                            </Cell>
                        </FlowTableColumn>
                    </Columns>
                </FlowTable>
                </Body>
            </ViContainer>
        </div>

    </div>
}