@namespace FileFlows.Client.Components

<div class="toast-button">
    <button @onclick="ToggleVisible" class="toast-button-btn @(Visible ? "active" : "") @(HasItems ? "has-items" : "")">
        <i class="fas fa-exclamation-triangle"></i>
    </button>
</div>

<div class="toast-list">
@if (Visible)
{
    @foreach (var toast in ToastList)
    {
        <div class="ff-toast @toast.Level show">
            <div class="toast-content">
                <span class="toast-icon"><i class="fas fa-@toast.Icon"></i></span>
                <span class="toast-message">
                    <span class="message">@toast.Message</span>
                </span>
                <span class="toast-close" @onclick="() => RemoveItem(toast)"><i class="fas fa-times"></i></span>
            </div>
        </div>
    }
}
else if (Latest != null)
{
    <div class="ff-toast @Latest.Level @(Latest.Show ? "show" : "") @(Latest.Hide ? "hide" : "") @(Latest.Editor ? "ff-toast-editor" : "")">
        <div class="toast-content">
            <span class="toast-icon"><i class="fas fa-@Latest.Icon"></i></span>
            <span class="toast-message">
                <span class="message">@Latest.Message</span>
            </span>
            <span class="toast-close" @onclick="ClearLatest"><i class="fas fa-times"></i></span>
        </div>
    </div>
}
</div>