@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using FileFlows.Plugin
@inherits ListPage<string, Script>

@page "/scripts"

<PageView Flex="@true">
    
    <Head>
         <button class="btn btn-update-all-scripts" @onclick=@UpdateScripts>@lblUpdateScripts</button>
    </Head>

    <Body>

    <FlowSkyBox TItem="ScriptType" @ref=Skybox OnSelected=@SetSelected/>

    <FlowTable @ref="Table" Data="@(SelectedType == ScriptType.Flow ? DataFlow : SelectedType == ScriptType.Shared ? DataShared : DataSystem)" TItem="Script" Selection="SelectionMode.Multiple"
               DoubleClick="@OnDoubleClick" TableIdentifier="@TableIdentifier">
        <ToolBar>
            <FlowTableButton Visible="@(SelectedType == ScriptType.Shared)" Clicked=Edit SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.View"/>
            <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Add Icon="fas fa-plus" Label="Labels.Add"/>
            <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit"/>
            <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete"/>
            @if (App.Instance.IsMobile == false)
            {
                <FlowTableButtonSeparator Visible="@(SelectedType != ScriptType.Shared)" />
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)"  Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update"/>
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)"  Clicked=Browser Icon="fas fa-code-branch" Label="Pages.Scripts.Buttons.ScriptBrowser"/>
                <FlowTableButtonSeparator Visible="@(SelectedType != ScriptType.Shared)" />
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Import Icon="fas fa-file-import" Label="Labels.Import"/>
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Export SelectedOne="true" Icon="fas fa-file-export" Label="Labels.Export"/>
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)" Clicked=Duplicate SelectedOne="true" Icon="fas fa-clone" Label="Labels.Duplicate"/>
                <FlowTableButtonSeparator Visible="@(SelectedType != ScriptType.Shared)" />
                <FlowTableButton Visible="@(SelectedType != ScriptType.Shared)"  Clicked=UsedBy SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.UsedBy"/>
            }
            <FlowTableButtonSeparator/>
            <FlowTableHelpButton HelpUrl="extensions/scripts"/>
        </ToolBar>

        <Columns>
            <FlowTableColumn TItem="Script" NoHeight="true">
               <Header>
                   @Globals.lblName
               </Header>
               <Cell Context="item">
               @{
                   
                   var match = Regex.Match(item.CommentBlock, @"@description\s+(.*?)\s*[@\*/]", RegexOptions.Singleline);
                   string description = match.Success ? match.Groups[1].Value : null;
                   match = Regex.Match(item.CommentBlock, @"@author\s+(.*?)\s*[@\*/]", RegexOptions.Singleline);
                   string author = match.Success ? match.Groups[1].Value : null;
               }
                   <div class="table-item">
                       <span class="icon">
                           @{
                               string icon = GetIcon(item);
                           }
                           @if(icon.EndsWith(".svg"))
                           {
                               <img src="@icon"/>
                           }
                           else
                           {
                               <i class="icon @icon"></i>
                           }
                       </span>
                       <div class="center">
                           <span class="name">
                               <span>@item.Name</span>
                               @if(description != null){
                                   <span>@description</span>
                               }
                           </span>
                           <div class="info">
                               <IconValue Color="IconValueColor.Blue" Icon="fas fa-code-branch" Value="@item.Revision.ToString()" />
                               @if (item.LatestRevision > item.Revision)
                               {
                                   <IconValue Color="IconValueColor.Orange" Icon="fas fa-code-branch" Value="@item.LatestRevision.ToString()" Tooltip="@lblUpdateAvailable"/>
                               }
                                @if (item.UsedBy?.Any() == true)
                                {
                                    <IconValue Color="IconValueColor.Green" OnClick="() => OpenUsedBy(item)" Icon="fas fa-folder" Value="@lblInUse" />
                                }
                           </div>
                       </div>
                        <div class="right">
                            @if (author != null)
                            {
                                <span class="top-right @(item.Repository ? "error" : "") title=@(item.Repository ? lblReadOnly : "")">
                                    @if (item.Repository)
                                    {
                                        <i class="fas fa-ban"></i>
                                    }
                                    @author
                                </span>
                            }
                        </div>
                   </div>
                       
               </Cell>
           </FlowTableColumn>
            <FlowTableColumn TItem="Script" Width="36rem" MobileWidth="0" Hidden=@(SelectedType != ScriptType.Shared)>
                <Header>
                    Import
                </Header>
                <Cell Context="item">
                    <span>
                        import { @item.Name } from 'Shared/@(item.Name)';
                    </span>
                </Cell>
            </FlowTableColumn>
        </Columns>
    </FlowTable>

    </Body>

</PageView>

<ScriptBrowser @ref="ScriptBrowser" />
<FileFlows.Client.Components.Dialogs.ImportScript @ref="ScriptImporter" />