@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using Humanizer
@inherits ListPage<Guid, ProcessingNode>

@page "/nodes"

<PageView ClassName="flex">

    <Head>
        @if (App.Instance.IsMobile == false)
        {
            <a class="btn btn-download-node" target="_blank" href="@DownloadUrl">@lblDownloadNode</a>
        }
    </Head>

    <Body>
        <FlowTable @ref="Table" Data="@Data" TItem="ProcessingNode" Selection="SelectionMode.Multiple" TableIdentifier="Nodes"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />    
                <FlowTableButtonSeparator />            
                <FlowTableHelpButton  HelpUrl="nodes" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="ProcessingNode" MinWidth="14rem">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        @if (item.Address != FileFlowsServer && item.Status == ProcessingNodeStatus.Offline)
                        {
                            <i title="Disconnected" class="processing-node status-error fas fa-times-circle"></i>
                        }
                        else if (item.Address != FileFlowsServer && item.LastSeen < DateTime.UtcNow.AddMinutes(-1))
                        {
                            <i title="Possibly disconnected" class="processing-node status-warning fas fa-exclamation-circle"></i>
                        }
                        else
                        {
                            <i title="Running" class="processing-node status-ok fas fa-check-circle"></i>
                        }
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="15rem" Align="FlowTableAlignment.Center" MobileWidth="0">
                    <Header>
                        Status
                    </Header>
                    <Cell Context="item">
                        @if (item.Status == ProcessingNodeStatus.VersionMismatch)
                        {
                            <span style="font-style: italic;color: var(--warning);" title="@lblUpgradeRequiredHint">@lblUpgradeRequired</span>
                        }
                        else
                        {
                            <span>@item.Status.ToString().Humanize()</span>
                        }
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" MobileWidth="0" Width="12rem" LargeWidth="14rem" Align="FlowTableAlignment.Center">
                    <Header>
                        @lblAddress
                    </Header>
                    <Cell Context="item">
                        @if(item.Address != FileFlowsServer)
                        {
                            <span>@item.Address</span>
                        }else
                        {
                            <span>@lblInternal</span>
                        }
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="9rem" LargeWidth="14rem" Align="FlowTableAlignment.Center" MobileWidth="0">
                    <Header>
                        OS
                    </Header>
                    <Cell Context="item">
                        <span>@item.OperatingSystem</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem" Align="FlowTableAlignment.Center" MobileWidth="0">
                    <Header>
                        Architecture
                    </Header>
                    <Cell Context="item">
                        <span>@item.Architecture</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem" Align="FlowTableAlignment.Center" MobileWidth="0">
                    <Header>
                        @lblVersion
                    </Header>
                    <Cell Context="item">
                        <span>@item.Version</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem" Align="FlowTableAlignment.Center" MobileWidth="0">
                    <Header>
                        @lblRunners
                    </Header>
                    <Cell Context="item">
                        <span>@item.FlowRunners</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem" Align="FlowTableAlignment.Center">
                    <Header>
                        @Globals.lblEnabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>