@namespace FileFlows.Client.Components

<div class="browser-wrapper @(Visible ? "visible" : "")">
    <div class="background-overlay"></div>
    <div class="browser">

        <ViContainer Title="@lblTitle" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true>

            <Head>
                <button @onclick=@Close>@lblClose</button>
            </Head>

            <Body>
                <div class="browser-content">
                    <FlowTable @ref="Table" TItem="RepositoryObject" Selection="SelectionMode.Multiple" DoubleClick="@Download" TableIdentifier="ScriptBrowser">
                        <ToolBar>                                          
                            <FlowTableButton Clicked=Download SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Download" />                                
                        </ToolBar>

                        <Columns>
                            <FlowTableColumn TItem="RepositoryObject">
                                <Header>
                                    @lblSubFlow
                                </Header>
                                <Cell Context="item">
                                    <span class="name">@item.Name</span>
                                    @if (string.IsNullOrWhiteSpace(item.Author) == false)
                                    {
                                        <span class="author">@item.Author</span>
                                    }
                                    <span class="description">
                                        @item.Description
                                    </span>
                                    @{
                                        var dependencies = GetDependencies(item);
                                        if (@dependencies.Any())
                                        {
                                            <div class="dependencies">
                                                @foreach (var dependency in GetDependencies(item))
                                                {
                                                    <span>@dependency</span>
                                                }
                                            </div>
                                        }
                                    }
                                </Cell>
                            </FlowTableColumn>
                        </Columns>
                    </FlowTable>
                </div>
            </Body>
        </ViContainer>
    </div>

</div>