@namespace FileFlows.Client.Components


<div class="browser-wrapper @(Visible ? "visible" : "")">
    <div class="background-overlay"></div>
    <div class="browser">

        <ViContainer Title="@lblTitle" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true>

            <Head>
                <button @onclick=@Close>@lblClose</button>
            </Head>

            <Body>
                <div class="browser-content">
                    <FlowTable @ref="Table" TItem="RepositoryObject" Selection="SelectionMode.Multiple" DoubleClick="@Download" TableIdentifier="ScriptBrowser">
                        <ToolBar>                                          
                            <FlowTableButton Clicked=Download SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Download" />                                
                        </ToolBar>

                        <Columns>
                            <FlowTableColumn TItem="RepositoryObject" Width="18rem">
                                <Header>
                                    @Globals.lblName
                                </Header>
                                <Cell Context="item">
                                    <span>@item.Name</span>
                                </Cell>
                            </FlowTableColumn>
                            <FlowTableColumn TItem="RepositoryObject" Width="8rem">
                                <Header>
                                    Author
                                </Header>
                                <Cell Context="item">
                                    <span>@item.Author</span>
                                </Cell>
                            </FlowTableColumn>
                            <FlowTableColumn TItem="RepositoryObject" Pre=@true>
                                <Header>
                                    Description
                                </Header>
                                <Cell Context="item">
                                    <span>@item.Description</span>
                                </Cell>
                            </FlowTableColumn>
                        </Columns>
                    </FlowTable>
                </div>
            </Body>
        </ViContainer>
    </div>

</div>