@using Humanizer
@namespace FileFlows.Client.Components.Common

<div class="flow-tabs @(ContainTabs ? "contain-tabs" : string.Empty) @(DisableChanging ? "disabled" :"")">

    <div class="flow-tab-buttons @(TitleOnlyOnActive ? "title-only-on-active" : string.Empty)">
        @foreach(var tab in Tabs)
        {
            if (tab.Visible == false)
            {
                continue;
            }
            <button class="tab-button tb-@tab.Title.Dehumanize() @(ActiveTab == tab ? "active" : "")" @onclick="() => SelectTab(tab)" 
                    disabled="@(DisableChanging && ActiveTab != tab)">
                @if (string.IsNullOrEmpty(tab.Icon) == false)
                {
                    <i class="@tab.Icon" />
                    @if (ActiveTab == tab || TitleOnlyOnActive == false)
                    {
                        @tab.Title
                    }
                }
                else
                {
                    @tab.Title
                }
            </button>
        }
    </div>

    <div class="flow-tabs-content">

        <CascadingValue IsFixed=true Value=this>
            @ChildContent
        </CascadingValue>

    </div>

</div>