@namespace FileFlows.Client.Components.Inputs

@using FileFlows.Plugin.Models
@inherits Input<FileFlows.Plugin.Models.DateCompareModel>

<InputWrapper Input="@this">
    <div>
        <select @bind="Comparison" disabled="@Disabled">
            @foreach (var opt in comparisonModeOptions)
            {
            <option value=@opt.Value>@opt.Label</option>
            }
        </select>
        @if (Value.Comparison is DateCompareMode.Between or DateCompareMode.NotBetween or DateCompareMode.GreaterThan or DateCompareMode.LessThan)
        {
            <FlowPeriod @bind-Value="Value1" disabled="@Disabled" />
        }
        @if (Value.Comparison is DateCompareMode.Between or DateCompareMode.NotBetween)
        {
            <FlowPeriod @bind-Value="Value2" disabled="@Disabled" />
        }
        @if (Value.Comparison is DateCompareMode.After or DateCompareMode.Before)
        {
            <input type="datetime-local" id="@Uid" autocomplete="off" @bind-value="@LocalDate" />
        }
    </div>
</InputWrapper>