@namespace FileFlows.Client.Components.Dialogs

<div class="template @(Selected ? "selected" : string.Empty) @(Selected ? "expanded" : "collapsed") 
           @(Template.MissingDependencies?.Any() == true ? "missing-dependencies" : "")"
     @onclick="HandleOnClick" @ondblclick="HandleOnDoubleClick">
    @if (Template.MissingDependencies?.Any() == true)
    {
        <span @onclick="HandleOnDoubleClick" class="author">@lblMissingDependencies</span>
    }
    else if (string.IsNullOrWhiteSpace(Template.Author) == false)
    {
        <span class="author">@Template.Author</span>
    }
    <span class="name">
        @if (string.IsNullOrWhiteSpace(Template.Icon) == false)
        {
            if (Template.Icon.StartsWith("svg:"))
            {
                <img src="/icons/@Template.Icon[4..]" />
            }
            else
            {
                <i class="@Template.Icon @(Template.Type.ToString().ToLowerInvariant())"/>
            }
        }
        @Template.Name
    </span>
    <span class="description">@Template.Description</span>

    @if (Plugins?.Any() == true || Scripts?.Any() == true)
    {
        <div class="extra-info">
            <div class="plugins-and-scripts">
                <div class="plugins">
                    @foreach (var plugin in Plugins.OrderBy(x => x))
                    {
                        <span class="plugin">@plugin</span>
                    }
                </div>
                @if (Scripts.Any())
                {
                    <div class="scripts">
                        @foreach (var script in Scripts.OrderBy(x => x))
                        {
                            <span class="script">@script</span>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>