@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, PluginInfoModel>

@page "/plugins"

<PageView ClassName="flex">

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="PluginInfoModel" Selection="SelectionMode.Multiple"
            DoubleClick="@DoubleClick" TableIdentifier="Plugins"  DisableColumn="(item) => !item.Enabled">
            <ToolBar>            
                <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableButtonSeparator />                    
                <FlowTableButton Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update" />
                <FlowTableButton Clicked=UsedBy SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.UsedBy" />
                <FlowTableButtonSeparator />    
                <FlowTableButton Clicked=AboutAction SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.About" />                
                <FlowTableHelpButton HelpUrl="plugins" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="PluginInfoModel" NoHeight="true">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <div class="table-item">
                            <span class="icon">
                                @if (item.Icon.StartsWith("svg:"))
                                {
                                    <img src="/icons/@(item.Icon[4..]).svg" />
                                }
                                else
                                {
                                    var parts = item.Icon.Split(':');
                                    if (parts.Length == 2)
                                    {
                                        <i class="icon @parts[0]" style="color:@parts[1]"></i>
                                    }
                                    else
                                    {
                                        <i class="icon @item.Icon"></i>
                                    }
                                }
                            </span>
                            <div class="center">
                                <span class="name"><span>@item.Name</span></span>
                                <div class="info">
                                    <div class="icon-value blue clickable" @onclick="() => About(item)">
                                        <i class="fas fa-sitemap"></i>
                                        <span class="value">@item.Elements.Count @(item.Elements.Count == 1 ? lblFlowElement : lblFlowElements)</span>
                                    </div>
                                    @if (item.HasSettings)
                                    {
                                        <div class="icon-value orange clickable" @onclick="() => Edit(item)">
                                            <i class="fas fa-folder"></i>
                                            <span class="value">@lblSettings</span>
                                        </div>
                                    }
                                    @if (item.UsedBy?.Any() == true)
                                    {
                                        <div class="icon-value green clickable" @onclick="() => OpenUsedBy(item)">
                                            <i class="fas fa-folder"></i>
                                            <span class="value">@lblInUse</span>
                                        </div>
                                    }
                                    @if (item.UpdateAvailable)
                                    {
                                        <div class="icon-value pink clickable" @onclick="() => Update(item.Uid)">
                                            <i class="fas fa-cloud-download-alt"></i>
                                            <span class="value">@item.LatestVersion</span>
                                        </div>
                                        
                                    }
                                </div>
                            </div>
                            <div class="right">
                                <span class="top-right @(item.UpdateAvailable ? "warning" :"")">@item.Version</span>
                                <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                            </div>
                        </div>
                            
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>
    </Body>

</PageView>

<PluginBrowser @ref="PluginBrowser" />